<!DOCTYPE html>
<html>
    <head>
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <!-- CSS Reset -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <!-- Milligram CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <!-- You should properly set the path from the main file. -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <nav>
                <div class="row">
                    <div class="column">
                        <h1>movieR</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <a class="button button-clear" href="{{ url_for('index') }}">index</a>
                    </div>
                    <div class="column">
                        <a class="button button-clear" href="{{ url_for('top_movies') }}">25 top movies</a>
                    </div>
                    <div class="column">
                        <a class="button button-clear" href="{{ url_for('rate_movies') }}">rate movies</a>
                    </div>
                    <div class="column">
                        <a class="button button-clear" href="{{ url_for('recommendations') }}">recommendations</a>
                    </div>
                </div>
            </nav>
            <hr>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <script>
        $(document).ready(function () {
            $('#movie_autocomplete').autocomplete({
                delay : 0,
                source: '{{ url_for("autocomplete")}}',
                minLength : 1
            });
        });
        </script>
    </body>
</html>
