{% extends 'base.html' %}
{% block content %}
    <form action="/rate-movies">
        <div class="row">
            <div class="column column-90">
                <input id="movie_autocomplete" type="text" name="search_field" placeholder="search me ...">
            </div>
            <div class="column">
                <input class="button button-outline" type="submit" value="send">
            </div>
        </div>
    </form>
    {% if results|length > 0 %}
        <div class="container">
            <h2>displaying {{ results|length }} search results</h2>
            <p>feel free to rate them</p>
            <table>
                <thead>
                    <th>title</th>
                    <th>your rating</th>
                </thead>
                <tbody>
                    {% for result in results %}
                        <tr>
                            <td><b>{{ result[1] }}</b> from <i>{{ result[2] }}</i></td>
                            <td>
                                <button class="button button-small button-outline">1</button>
                                <button class="button button-small button-outline">2</button>
                                <button class="button button-small button-outline">3</button>
                                <button class="button button-small button-outline">4</button>
                                <button class="button button-small button-outline">5</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
